*{
  padding: 0px;
  margin: 0px;
  color: white;
  overflow: hidden;
}
body{
  background-color: #000000af;
  background-image: url(https://i.pinimg.com/originals/f4/d6/42/f4d642d4b1a6cfa58eb31213080a0f82.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
}
*:focus{
  outline: none;
}
.glass{
  background: rgba( 255, 255, 255, 0.00 );
  box-shadow: 0 4px 16px 0 rgb(31 38 135 / 80%), inset 0 0 2000px rgb(255 255 255 / 30%);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 14.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}